if 
h2 Congratulations, you've created a group!

.button
	| Ask your friends
.button
	| Ask anonymously


h4 #{@recipient.name.capitalize}'s #{@occasion.occasion_type}

h4.strong Description
h5 Add a description to tell your friends why you need their help (max 250 chars)


	