//Global

.button.radius, .button.radius {
    border-radius: 3px;
}
.button.round, .button.round {
    border-radius: 1000px;
}
.margin-left {
  margin-left: 1em;
}
.medium-gray {
  color: #cacaca;
}
.dark-gray {
  color: #8a8a8a;
}
.w500 {
  font-weight: 600;
}
.center {
  text-align: center;
}
.white {
  color: white;
}
.blue {
  color: #000066;
}
.lightblue {
  color: #0066ff;
}
.centered {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top: -67px;
}

//Custom
.test {
  background-color: gray;
}

//Navbar
.top-bar {
  -webkit-box-shadow: 0px 2px 5px 0px #e6e6e6;//medium gray
  -moz-box-shadow: 0px 2px 5px 0px #e6e6e6;
  box-shadow: 0px 2px 5px 0px #e6e6e6;
  font-size: .9rem;
  z-index: 10;
}
.top-bar a.white {
  color: white; 
}
.top-bar img {
  max-height: 50%;
}
.top-bar-left ul li:first-child a {
  height: 100%;
} 
@-moz-document url-prefix() {//logo to be correct size
    .top-bar img {
      max-height: 50%;
      width: 50%;
    }
}
.top-bar-right ul {
  padding: 0.35rem 0.35rem;
  line-height: 1;
}
.title-bar {
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px #e6e6e6;//medium gray
  -moz-box-shadow: 0px 2px 5px 0px #e6e6e6;
  box-shadow: 0px 2px 5px 0px #e6e6e6;
  font-size: .9rem;
}
.title-bar .menu-icon {
  top: 4px;//vertical align off when float-left
}
.title-bar .menu-icon:after {
  background: #0066ff;//lightblue
}
.title-bar .menu-icon::after {
  box-shadow: 0 7px 0 #0066ff, 0 14px 0 #0066ff;//lightblue
}
.title-bar img {
  max-height: 25px;
}
.title-bar ul {
  display: inline-block;
  float: right;
}
.title-bar ul li .button {
  padding: 0.45rem 1rem;
}
.title-bar ul li:not(.menu-text) > a {
  padding: 0.35rem 1rem;
}
//Index
.cover {
  background-image: image-url("Giftr_coverphoto.jpg");
//  background-image: url("https://s3.amazonaws.com/giftrassets/LandingPage/Giftr_coverphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
//  min-height: 100vh;
//  margin-top: -67px;//height of navbar
//  padding: 70px 30px;
}
.index .row .button {
  display: block;
  margin: auto;
}
