//Global
$shade: #211F30;
$cerulean-blue: #217CA3;
$asphalt: #32384D;
$mustard: #e29930;
$lightblue: #0066ff;//Giftr logo color
$blue: #000066;//Giftr logo color

//Foundation Colors
$primary-color: #2199e8;
$secondary-color: #777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

.button.radius, .button.radius {
    border-radius: 3px;
}
.button.round, .button.round {
    border-radius: 1000px;
}
.margin-left {
  margin-left: 1em;
}
.medium-gray {
  color: #cacaca;
}
.dark-gray {
  color: #8a8a8a;
}
.w500 {
  font-weight: 600;
}
.center {
  text-align: center;
}
.white {
  color: $white;
}
.lightblue {
  color: $lightblue;
}
.blue {
  color: $blue;
}
.centered {///MOVE THIS
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  position: relative;
  margin-top: -67px;
}

//Navbar
nav.column {
  position: fixed;
  top: 0;
  z-index: 1030;
  padding: 0;
}
.top-bar {
  -webkit-box-shadow: 0px 2px 5px 0px $light-gray;
  -moz-box-shadow: 0px 2px 5px 0px $light-gray;
  box-shadow: 0px 2px 5px 0px $light-gray;
  font-size: .9rem;
  
//  position: fixed;
//  top: 0;
}
.top-bar a.white {
  color: white; 
}
.top-bar img {
  max-height: 50%;
}
.top-bar-left ul li:first-child a {
  height: 100%;
} 
@-moz-document url-prefix() {//logo correct size
    .top-bar img {
      max-height: 50%;
      width: 50%;
    }
}
.top-bar-right ul {
  padding: 0.35rem 0.35rem;
  line-height: 1;
}
.title-bar {
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px $light-gray;
  -moz-box-shadow: 0px 2px 5px 0px $light-gray;
  box-shadow: 0px 2px 5px 0px $light-gray;
  font-size: .9rem;
}
.title-bar .menu-icon {
  top: 4px;//vertical align off when float-left
}
.title-bar .menu-icon:after {
  background: $lightblue;
}
.title-bar .menu-icon::after {
  box-shadow: 0 7px 0 $lightblue, 0 14px 0 $lightblue;
}
.title-bar img {
  max-height: 25px;
}
.title-bar ul {
  display: inline-block;
  float: right;
}
.title-bar ul li .button {
  padding: 0.45rem 1rem;
}
.title-bar ul li:not(.menu-text) > a {
  padding: 0.35rem 1rem;
}

//Sidebar
ul.mobile-ofc.vertical.menu li:last-child {
  border-bottom: 1px solid $primary-color;
}

//Index
.cover {
  background-image: image-url("Giftr_coverphoto2.jpg");
//  background-image: url("https://s3.amazonaws.com/giftrassets/LandingPage/Giftr_coverphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom  ;
  position: relative;
//  min-height: 100vh;
//  margin-top: -67px;//height of navbar
//  padding: 70px 30px;
}
.index .row .button {
  display: block;
  margin: auto;
}
//.test {
//  color: $test-color;
//}
