//Global
//$shade: #211F30;
//$cerulean-blue: #217CA3;
//$asphalt: #32384D;
//$mustard: #e29930;
//
//$night: #000b29;
//$phonebooth: #d70026;
$pearl: #f8f5f2;
//$flash: #edb83d;

//$cyan: #00cffa;
//$magenta: #ff0038;
//$yellow: #ffce38;
$black: #020509;

$lapis: #556dac;
$salmon: #f79b77;
$peppercorn: #755248;
$stoneground: #4b4345;

$lightblue: #0066ff;//Giftr logo color
$blue: #000066;//Giftr logo color

//Foundation Colors
$secondary-color: #777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$white: #fefefe;

body {
  padding-top: 67px;//navbar height
}
.jumbotron {
  padding: 3rem;
}
@media screen and (max-width: 39.9375em) {
  .jumbotron {
    padding: 1.875rem .938rem;
  }
  body {
    padding-top: 41px;//navbar height
  }
}
.margin-left {
  margin-left: 1em;
}
.w500 {
  font-weight: 600;
}
.center {
  text-align: center;
}
.white {
  color: $white;
}
.lightblue {
  color: $lightblue;
}
.blue {
  color: $blue;
}
.medium-gray {
  color: $medium-gray;
}
.dark-gray {
  color: $dark-gray;
}
.pearl {
  color: $pearl;
}
.black {
  color: $black;
}
.lapis {
  color: $lapis;
}
.salmon {
  color: $salmon;
}
.peppercorn {
  color: $peppercorn;
}
.stonegroud {
  color: $stoneground;
}

.button.radius {
    border-radius: 3px;
}
//.button.round, .button.round {
//    border-radius: 1000px;
//}

//Navbar
nav.column {
  position: fixed;
  top: 0;
  z-index: 1030;
  padding: 0;
}
.top-bar {
  -webkit-box-shadow: 0px 2px 5px 0px $stoneground;
  -moz-box-shadow: 0px 2px 5px 0px $stoneground;
  box-shadow: 0px 2px 5px 0px $stoneground;
  font-size: .9rem;
}
.top-bar a.white {
  color: white; 
}
.top-bar img {
  max-height: 50%;
}
.top-bar-left ul li:first-child a {
  height: 100%;
} 
@-moz-document url-prefix() {//logo correct size
    .top-bar img {
      max-height: 50%;
      width: 50%;
    }
}
.top-bar-right ul {
  padding: 0.35rem 0.35rem;
  line-height: 1;
}
.title-bar {
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px $stoneground;
  -moz-box-shadow: 0px 2px 5px 0px $stoneground;
  box-shadow: 0px 2px 5px 0px $stoneground;
  font-size: .9rem;
}
.title-bar .menu-icon {
  top: 4px;//vertical align off when float-left
}
.title-bar .menu-icon:after {
  background: $lightblue;
}
.title-bar .menu-icon::after {
  box-shadow: 0 7px 0 $lightblue, 0 14px 0 $lightblue;
}
.title-bar img {
  max-height: 25px;
}
.title-bar ul {
  display: inline-block;
  float: right;
}
.title-bar ul li .button {
  padding: 0.45rem 1rem;
}
.title-bar ul li:not(.menu-text) > a {
  padding: 0.35rem 1rem;
}

//Sidebar
ul.mobile-ofc.vertical.menu li:last-child {
  border-bottom: 1px solid $lightblue;
}

//Index
.index.imagecover {
  background-image: image-url("Bear.jpg");
//  background-image: url("https://s3.amazonaws.com/giftrassets/LandingPage/Giftr_coverphoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom  ;
  position: relative;
  margin-top: -67px;//navbar height
}
.index .centered {
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  position: relative;
  width: 100vw;
}
.index .centered .row .button {
  margin: 0 auto;
  display: block;
}
.index .jumbotron>div {
  background-color: rgba($peppercorn, 0.65);
  padding: 2rem;
  margin-top: 4rem;
//  border: 1px solid blue;
  border-radius: 3px;
}
.index button {
  
}
@media screen and (max-width: 39.9375em) {
  .index.imagecover {
    margin-top: -41px;//navbar height
  }
}